[2016-07-02 21:35] DevHossamHassan opened #3 "Error: Unable to instantiate receiver com.instabug.library.network.InstabugNetworkReceiver"

[2016-07-04 12:38] #3 closed

[2016-10-07 12:58] Athinodoros opened #7 "instabug in typescript"
I am building an ionic 2 app and I am trying to add the instabug plugin but it seems like typescript doesn't know the connection among cordova and instabug .

I am getting : Uncaught TypeError: Cannot read property 'instabug' of undefined

even thought I use : declare var instabug:any;

if there are any suggestions please let me know :)

[2016-10-07 14:22] Athinodoros commented on #7
Sorry my bad...

I did the following to solve my problem :

ionic plugin add https://github.com/Instabug/instabug-cordova

and then in the app.component.ts

//in the import area
declare var cordova:any;

//in the constructor in the platform ready
platform.ready().then(
    () => {
        console.log("MyApp::constructor platform.ready");
        cordova.plugins.instabug.activate(......

Also a sug

[2016-10-07 14:22] #7 closed

[2017-02-07 21:56] SoldierCorp opened #9 "Black screenshot screen in Android"
Hi,

I'm having an issue related to the build for Android devices because the screenshot is always black and only is showing the statusbar, do you know what causes this problem?

iOS works perfectly.

https://s3.amazonaws.com/instabug-pro/attachments/states/48962091/1b0dcaef7b6e5ad24993e5c3c1c0c9e7_one_bug_thumb/15763783/bug_1486497619423_.jpg?1486497762

[2017-02-09 02:34] dherby commented on #9
Same issue here ! Ionic 2.0

[2017-03-29 00:08] seljabali opened #16 "Add support for Crosswalk Webview"
I am using `instabug-cordova#v1.1.0` and am getting a blank screen in capturing an image after having done the shake gesture. I'm too using `cordova-plugin-crosswalk-webview 2.0.0` "Crosswalk WebView Engine" library that may or may not be causing this.

![screenshot_20170324-125607_1024](https://cloud.githubusercontent.com/assets/1254921/24432760/1e0ef832-13d9-11e7-8a41-ce8a72498ee6.png)

[2017-03-31 16:19] DevHossamHassan commented on #16
Hello seljabali,
Thank you for reporting this issue,
It would be great if you can provide us a sample app with its source code contains the issue to help us investigate into that as soon as possible.
I have one more question, Does it happen on all devices or on a specific device?

[2017-03-31 16:25] DevHossamHassan commented on #9
Hello @SoldierCorp and @dherby,
Thank you for reporting this issue.
We have shipped a fix for that issue in version 1.1.0, So please upgrade to the latest version and let me know if the issue still exists or not?

[2017-04-05 00:19] seljabali commented on #16
Hi @DevHossamHassan,

I've created a repo that reproduces the issue here: https://github.com/travelbank/instabug_bug.
I've found the issue to be amongst all devices & emulators that I've tried.

Best,
-Sami

[2017-04-14 20:45] solarsaturn9 opened #17 "Crashes on Android"
I followed installation and initialization very carefully but I'm still experiencing crashes instantly on Galaxy Note 4 running OS version 5.1.1. Please advise.

[2017-04-25 00:14] seljabali commented on #16
Hi @DevHossamHassan,

Is there an update on this issue? Were you able to reproduce it?

Thanks,
-Sami

[2017-04-26 11:33] DevHossamHassan commented on #16
Hey @seljabali,
We are currently working on it, Yes I did. Thank you so much, I really appreciate that it helped me a lot figuring out the main problem.

After I looked into the sample app that you sent me I figured out that
Our plugin works fine with android system Webview
But It doesn't work with `Crosswalk` Webview
So, we are investigating into it and we will support capturing the `Crosswalk` W

[2017-05-02 09:50] marijnroukens commented on #17
+1

[2017-05-04 13:55] sunilshenoy opened #18 "Warnings returned during build process"
/Users/www/platforms/ios/Self/Plugins/com.instabug.cordova.plugin/IBGPlugin.m:268:16: warning: format string is not a string literal (potentially insecure) [-Wformat-security]
        IBGLog(log);
               ^~~
/Users/www/platforms/ios/Self/Plugins/com.instabug.cordova.plugin/IBGPlugin.m:268:16: note: treat the string as an argument to avoid this
        IBGLog(log);
               ^

[2017-05-14 15:17] nintra commented on #17
same here. v1.0.0 and probably v1.1.0 (version code is wrong)
It crashes instantly. No reports were sent. Galaxy S6 with Android 7

[2017-05-14 17:22] nintra commented on #17
after upgrading my app was crashing too. It was because `shakingThresholdAndroid` now only accepts integer values. In older versions of this plugin floats where required. So I just changed it to '11' or something higher and it works. ('11' is to sensitive)

[2017-06-06 10:40] alexplummer opened #23 "Crash on location.reload()"
My app is continuously crashing every time location.reload() is called, check out the log:

java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2720)
  at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2781)
  at android.app.ActivityThread.-wrap12(ActivityThread.java:0)
  at android.app.ActivityThread$H.handleMessage(ActivityTh

[2017-06-13 13:03] pintlab opened #24 "Not able to install using CLI with commant 'ionic cordova plugin add https://github.com/Instabug/instabug-cordova'"

[2017-06-26 02:34] Slavrix commented on #24
The error tells you what you need to do

[2017-06-26 02:40] Slavrix opened #25 "Failed to install due to multidex dependancie"
When trying to install I get this error.

installing with

`cordova plugin add https://github.com/Instabug/instabug-cordova --save`
[code]

[2017-06-26 03:12] Slavrix commented on #25
If your using cordova 7.*+

youll need to add the -nofetch flag to install this without it failing

[2017-06-28 06:37] Slavrix opened #26 "DuplicateFileException when packaging android app with cordova"
When installing this it was working, then I started getting this exception after updating to cordova-android@6.2.3

When rolling back to cordova-android@6.1.1 this problem remained.

When I removed this plugin it built fin. When I added it back in (using `cordova plugin add https://github.com/Instabug/instabug-cordova -nofetch`) it wouldn't build again and this error showed up again.

[code]

[2017-06-28 06:51] DevHossamHassan commented on #26
Hello @Slavrix,
Thank you for the details that you provided  here, we'll look  into it and will get back to you as soon as possible.

[2017-06-28 06:57] Slavrix commented on #26
Ley me know if there is any more info that will help you out, ill try to
get it to you.

On 28 Jun. 2017 4:51 pm, "Hossam Hassan" <notifications@github.com> wrote:

[2017-07-03 18:55] samianc commented on #9
Hi @DevHossamHassan.
We've made an upgrade to v1.1.0 and the issue still there.

[2017-07-04 04:43] Slavrix commented on #26
I found that changing the build.gradle file to have this allowed it to build.

[code]

[2017-08-01 09:40] #26 closed

[2017-08-01 09:41] #17 closed

[2017-08-01 09:46] #25 closed

[2017-08-01 10:19] salmatarzi commented on #24
@pintlab Did you manage to fix the problem that you had, or is it still there?

[2017-08-01 10:20] salmatarzi commented on #9
Hi there @SoldierCorp, @dherby , and @samianc Is the issue you are facing still there?

[2017-08-01 10:34] salmatarzi commented on #18
Hi there @sunilshenoy, is this problem still persistent? If it is, could you please tell me what version of instabug-cordova plugin are you using?

[2017-08-07 19:11] garyocampo opened #29 "cant find where to add my token on android"
"add your app token in the MyApplication class, by replacing YOUR_ANDROID_TOKEN by your app token."
where is this?

[2017-08-07 19:20] salmatarzi commented on #29
Hello @garyocampo, you can find this class under YourProjectName/plugins/com.instabug.cordova.plugin/src/android/MyApplication.java
in your project. :blush:

[2017-08-07 19:43] garyocampo commented on #29
Great!!!!! thank you so much for the quick response.

[2017-08-07 21:56] #29 closed

[2017-08-09 08:17] asadwaheed1 commented on #9
@salmatarzi yes i am also facing black screenshot issue in android. When camera preview is running and html tags over it. It captures camera preview as black solid color and html tags over it

[2017-08-09 09:04] salmatarzi commented on #9
@asadwaheed1 Are you using Crosswalk Webview or Service Webview?

[2017-08-09 09:36] asadwaheed1 commented on #9
Sorry I posted comment on wrong library. I needed to post on ionic-native/screenshot library.

[2017-08-09 18:56] garyocampo opened #30 "issue with initialization"
so, i have installed the plugin with cordova in my app (ionic v1)
changed what neded to be changed
`<uses-permission android:name="com.instabug.cordova.plugin.MyApplication" />`

and

` public void onCreate()
    {
        new Instabug.Builder(
                this,
                "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                InstabugInvocationEvent.FLOATING_BUTTON
        ).setFloatin

[2017-08-10 12:14] salmatarzi commented on #16
I am going to change the name of this issue to be more relevant to the problem.

[2017-08-10 12:15] #24 closed

[2017-08-10 12:16] salmatarzi commented on #9
I will close this issue for now, if the problem still persists, feel free to re-open it.

[2017-08-10 12:16] #9 closed

[2017-08-10 12:19] salmatarzi commented on #30
Hi @garyocampo, you should add this line ```android:name="com.instabug.cordova.plugin.MyApplication"``` under the application tag like this, ```<application
     android:name="com.instabug.cordova.plugin.MyApplication"``` not as a permission tag.

[2017-08-10 14:39] salmatarzi commented on #23
@alexplummer I know this issue has been there for a while, I'm really sorry for that. This looks like it is a problem from the Native Android SDK, I will forward it to our Android team to look into it.

[2017-08-11 16:17] garyocampo commented on #30
Thank for your reply, i still cannot activate the plugin on the phone. I've followed the steps and still.. What information do you need to help me fix it.

[2017-08-11 19:40] mpastorini opened #31 "Issue with initialization in iOs"
Hi,

I'm getting this error
"Instabug could not be initialized - An application token must be provided."

After doing this

[code]
I'm in the first instance of the installation, in the popup, so I took the token from this line

[Instabug startWithToken:@"0cca03baf6e1c178f776ddb594706196" invocationEvent:IBGInvocationEventShake];

Something of that lines could be wrong ? Or maybe I copied the token

[2017-08-15 18:55] tomasnocetti commented on #31
Hi guys, we are in a big implementation of your software and we are having the same issue, Android is working but not IOS.

[2017-08-16 06:59] salmatarzi commented on #31
Hi @mpastorini @tomasnocetti I know this issue has been here for a few days, I'm really sorry to keep you waiting, I will check this out and get back to you.

[2017-08-16 10:44] salmatarzi commented on #31
@mpastorini @tomasnocetti Quick update: the fix is now done, and there's a PR created for it. Will update you again, when the release is out. #32

[2017-08-16 12:06] salmatarzi commented on #31
@mpastorini @tomasnocetti The fix is now released, please update to the latest version. 😊

[2017-08-16 12:12] salmatarzi commented on #30
@garyocampo Would it be possible to show me a screenshot of how the manifest file looks like?

[2017-08-16 12:21] #31 closed

[2017-08-16 14:54] salmatarzi commented on #18
I will close this issue for now, if the problem still persists, please re open.

[2017-08-16 14:54] #18 closed

[2017-08-21 15:49] dherby commented on #16
Still no news on this issue ?

[2017-08-23 13:16] reemalashry1 commented on #16
Hello @seljabali @dherby

We need to support `Crosswalk` on the native Android SDK first, I've communicated this to our product team and will post an update here whenever it's added.

[2017-08-27 07:29] randaelbaz commented on #30
@garyocampo  Hi  Any updates regarding the screenshot of how the manifest file looks like? or did you successfully activate the plugin on the phone?
I’ll close this for now but feel free to re-open it if the issue is still there.

[2017-08-27 07:40] #30 closed

[2017-09-03 20:16] dherby commented on #16
@reemalashry1 We have been waiting for this fix for a very long time since. Hope you will be able to speed up the fix. Cheers

[2017-09-04 12:53] reemalashry1 commented on #16
@dherby I'll be checking this with our Android team, will keep you updated, sorry if this is blocking your workflow!

[2017-09-04 16:33] dherby commented on #16
@reemalashry1 thanks. I hope you will find a solution. Our app had been downloaded more than 1 million times for Android. We were thinking to put your chat module but quite complicated when crosswalk not working properly. Cheers.

[2017-09-05 16:26] randaelbaz commented on #23
Hi @alexplummer
This issue has been there for a while, here is an update, please update to the latest version (1.2.3). I will close this issue, for now, please reopen if the problem still persists.

[2017-09-05 16:27] #23 closed

[2017-09-27 15:19] Malrok opened #37 "Error: Failed to fetch plugin https://github.com/DevHossamHassan/cordova-multidex via registry."
Hello,

I have installed the plugin on an Ionic 2.2.1 project using the npm command.
When adding the android platform I got the following error:

    Error: Failed to fetch plugin https://github.com/DevHossamHassan/cordova-multidex via registry.
    Probably this is either a connection problem, or plugin spec is incorrect.
    Check your connection and plugin name/version/URL.
    Failed to get ab

[2017-09-27 15:37] Malrok opened #38 "Instabug getInstance called before Instabug.Builder().build() was called"
Hello,

I have an Android application with the Instabug plugin installed.
When launching it, it crashes immaediatly with the following error found in logcat:

    FATAL EXCEPTION: main
    Process: org.sahfa.jambomama.women, PID: 25648
    java.lang.RuntimeException: Unable to start activity ComponentInfo{org.sahfa.jambomama.women/com.instabug.cordova.plugin.IBGPluginActivity}: java.lang.IllegalSt

[2017-09-28 10:51] reemalashry1 commented on #38
Hello @Malrok
Would you please tell me the SDK version you are on?

[2017-10-02 08:13] Malrok commented on #38
Hello,
We are using version 1.3.4 of instabug-cordova.
I have attached the manifest file and the app.js with the instabug initialization code.

Thanks

[instabug.zip](https://github.com/Instabug/instabug-cordova/files/1348246/instabug.zip)

[2017-10-03 00:23] reemalashry1 commented on #38
Hey @Malrok
Would you please add this line under the application tag in your manifest file: `android:name=“com.instabug.cordova.plugin.MyApplication”`
Please let me know how it goes 😊

[2017-10-03 06:15] Slavrix commented on #37
https://github.com/Instabug/instabug-cordova/issues/25
this might help

[2017-10-03 11:47] reemalashry1 commented on #37
@Malrok We are working on fixing the issue with npm, meanwhile, would you please install the plugin using: `cordova plugin add https://github.com/Instabug/instabug-cordova`

[2017-10-03 12:22] Malrok commented on #38
Hi,
It is launching now, but I cannot see the Instabug widget...

[2017-10-03 12:23] Malrok commented on #37
Hi,
I've tried that, but the result is the same :(

[2017-10-04 14:59] reemalashry1 commented on #38
@Malrok Do you mean the button?
If yes, you can change the invocation event to be the floating button by using  `InstabugInvocationEvent.FLOATING_BUTTON` in the `MyApplication` class.

[2017-10-04 15:00] reemalashry1 commented on #37
@Malrok Would you mind please sharing with me how did you install [here]?(https://github.com/Instabug/instabug-cordova/issues/38#issuecomment-333825006)

[2017-10-30 17:37] dherby commented on #16
@reemalashry1 any news ?

[2017-11-26 14:41] ZiadAyman commented on #38
Hey @Malrok I am following up with you to check that everything is in place. Can you now see the floating button? Any problems still occuring?

[2017-11-27 10:11] malrok44 commented on #38
Hello,
The button is visible, and everything is working fine.
Thanks for your help 😊

[2017-11-27 10:13] ZiadAyman commented on #38
@Malrok Perfect! Glad to know everything is going good at your side. I will close this issue for now but please don't hesitate to get back to us whenever you need any help :)

[2017-11-27 10:13] #38 closed

[2017-12-05 17:04] ZiadAyman commented on #16
@dherby @seljabali Apologies for the long time that has been taken to reply on this.

We understand that supporting `Crosswalk` is a priority for you currently and we are definitely taking this into consideration.
We have added it to our bakclog, however our backlog is really tight right now. it will take sometime to be honest, no clear dates are promised until now.

I will keep this issue opened,

[2017-12-05 20:55] seljabali commented on #16
@ZiadAyman, thanks for getting back. We've actually stopped using Crosswalk as it is [deprecated](https://crosswalk-project.org/blog/crosswalk-final-release.html). We've found web pages acting more or less fine without it; heads up to @dherby.

[2017-12-06 08:57] ZiadAyman commented on #16
@seljabali Thanks for providing such info :)

Apologies one more time for the response delay from our side.
I will close this issue for now and I'll keep you posted if I have any Cordova related updates.

[2017-12-06 08:57] #16 closed

[2017-12-09 05:57] asangadev opened #40 "Adobe Phonegap Build Error"
Hi,

I’m having some issues with Adobe Phonegap Build.

I have below plugins in my config.xml file:

[code]

I can create the APK file without having any issues with above plugin list. If I add below to the config.xml I’m getting an error in Adobe Phongegap Build.

LINE:
`<plugin name="com.instabug.cordova.plugin" spec="https://github.com/Instabug/instabug-cordova" />`

ERROR:
[code]

Could you pl

[2017-12-09 09:45] #40 closed

[2017-12-09 09:47] asangadev commented on #40
issue was the "cordova-plugin-file" plugin. I have to update it to the latest version.

`<plugin name="cordova-plugin-file" spec="~5.0.0" />`

[2017-12-13 15:36] monove opened #41 "Automated Installation"
Hi,

I used Instabug 2 years ago using the Cordova plugin created by @elizabethrego and I was notified when you guys created this plugin on your own.

To have to manually edit AndroidManifest file and replace stuff is very not Cordova style. In Cordova it is expected that at any given time, one can simply do a remove and add to a platform without any further work.

You guys should unify the activa

[2017-12-14 11:58] ZiadAyman commented on #41
Hey @monove
I get your point, however android SDK needs to get initialized in the application class and cannot be initialized in an activity to avoid unexpected behaviors in the UI. We'll be checking this again from our side and I will keep you updated if there will be any changes :)

[2017-12-14 14:34] monove commented on #41
Thanks for your prompt response.

There is an after_plugin_add event in Cordova where you can automate all of the custom work you're asking the user to remember to do. See https://cordova.apache.org/docs/en/latest/guide/appdev/hooks/. There are tonz of plugins out there that add their own hooks.

[2017-12-17 09:49] ZiadAyman commented on #41
@monove Apologies for the late reply this time :)

I communicated this with our cross-platform team and I will see what can they do and keep you posted.

[2017-12-27 04:47] vbezruchkin opened #43 "No reports available"
Hi,

We've added your services to our ionic application. Added necessary key.
I see a notification when we start an application, and when we shake a device we get a report window.
Anyhow when we click report bug, nothing comes to our account.

Could you please advise if this is a common issue?

Here is the configuration we have:
[code]
We tried to update to a new version, no result as well so far.

[2017-12-27 09:31] ZiadAyman commented on #43
Hey @vbezruchkin
This is now communicated to our cross-platform team and I will be notifying you once this is reproduced from our side and fixed.

[2017-12-27 11:46] ZiadAyman commented on #43
hey @vbezruchkin
Can you tell me if this is happening on iOS and android?
Also, do you succeed in reporting your bug and you get a message that you already reported it on the mobile? However the problem here is that you can never see the bug on your dashboard?

Is it the case?

[2017-12-28 05:43] vbezruchkin commented on #43
Hello,

It's happening on our Android app. We now focus on android version only.

- when I open application, I can see a notice to shake
- when I shake an application I can see an instabug control to report
- when I report I get notice everything is fine, report sent

But I don't see this report in my instabug account area.

Here is our ionic info:
[code]

[2017-12-28 05:44] vbezruchkin commented on #43
@amalichev please join the discussion. Thanks

[2017-12-28 05:55] amalichev commented on #43
Hello @ZiadAyman

Please look at the screenshots below.

![screenshot_2017-12-28-11-47-43-461_at xapp pixo](https://user-images.githubusercontent.com/13551696/34401483-c3579e60-ebc5-11e7-855d-310064532aab.png)
![screenshot_2017-12-28-11-47-56-999_at xapp pixo](https://user-images.githubusercontent.com/13551696/34401485-c49ea070-ebc5-11e7-9051-5aa801476b9e.png)
![screenshot_2017-12-28-11-48-30-310_

[2017-12-28 06:44] vbezruchkin commented on #43
And when we check it in the dashboard, we don't see any results. The key is correct, if we don't set the key - we don't even see any of these notices and cannot initialize instabug functionality.

Thanks

[2017-12-28 11:09] ZiadAyman commented on #43
Hey @vbezruchkin
I will need to get more details regarding your app like the token so we need to do this privately.
Do you mind talking to me from Instabug's website or emailing us on contactus@instabug?

I'll be taking it from there :)

[2017-12-29 20:06] tomasnocetti opened #45 "Issues with Android and IOS"
Hello Instabug support team, im having the following error when executing ionic build in android

Node version: 4.4.2
Android Studio: 3.0.1
Cordova: 6.2.2

""""
* What went wrong:
A problem occurred configuring root project 'android'.

     Searched in the following locations:
         file:/Users/gabi/Library/Android/sdk/extras/android/m2repository/com/android/support/support-v4/26.0.2/support-v4

[2018-01-30 10:13] bellalMohamed opened #48 "Integration with ionic 3"
Is there any documentations for ionic 3 implementation

[2018-02-01 09:33] #43 closed

[2018-02-01 09:36] vbezruchkin commented on #43
Hi,

Thanks for your assistance, guy. Yes the issue has been resolve privately.

Cheers

[2018-02-01 09:37] ZiadAyman commented on #43
Absolutely my pleasure @vbezruchkin

Always get back please whenever you need any help :)

[2018-02-01 11:09] ZiadAyman commented on #48
Hey @bellalMohamed
Please accept our apologies on the late reply here.

Ionic 3 implementation is basically the same as [Cordova's](https://docs.instabug.com/docs/cordova-overview)
just instead of adding the plugin using `cordova plugin add instabug-cordova` add it using `ionic cordova plugin add instabug-cordova`.

And make sure that you have `declare let cordova: any;` declared in your app.compo

[2018-02-06 12:44] #48 closed

[2018-02-23 05:53] sujitgawas19 opened #49 "issue with ionic 3"
Instabug plugin is not getting initialized.

Here is the code :

document.addEventListener('deviceready', this.onDeviceReady.bind(this), false);
  onDeviceReady(){
    this.receivedEvent('deviceready');
    this.initInstabug();
  }

  initInstabug() {
    cordova.plugins.instabug.activate(
        {
            android: '44f3f69ce99ff14e4307b26558b09f72'
            // ios: 'IOS_TOKEN'
        },

[2018-02-26 05:12] sujitgawas19 commented on #49
Sorry... my bad..
The plugin was not installed properly
Now the plugin is installed and it is getting initialised but the ionic app crashes after plugin initialisation.
Can anyone help please??

[2018-03-01 14:56] salmatarzi commented on #49
@sujitgawas19 Can you please share with me the error you're getting?

[2018-03-01 15:10] sujitgawas19 commented on #49
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.healthwise.io/com.instabug.cordova.plugin.IBGPluginActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.settings.b.e(boolean)' on a null object reference
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2426)
       at android.app.A

[2018-03-01 15:15] salmatarzi commented on #49
@sujitgawas19 Do you mind sharing all your Instabug code to be able to gain more context about the issue?

[2018-03-02 04:02] bhawesh96 commented on #37
I'm getting the same error. Can you please provide a fix?

[2018-03-03 07:03] tmk1991 opened #50 "MAJOR: issues with 1.9 update and iOS"
ERROR ITMS-90087: "Unsupported Architectures. The executable for Link Your Fit.app/Frameworks/Instabug.framework contains unsupported architectures '[x86_64, i386]'."
ERROR ITMS-90087: "Unsupported Architectures. The executable for Link Your Fit.app/Frameworks/InstabugCore.framework contains unsupported architectures '[x86_64, i386]'."
ERROR ITMS-90209: "Invalid Segment Alignment. The app binary a

[2018-03-03 07:09] tmk1991 opened #51 "Hosting Versions on Github"
Need to host versions on github so we can modify our config.xml to point to the correct version we need.

[2018-03-04 09:51] salmatarzi commented on #51
@tmk1991 Can you please elaborate more what you mean by hosting versions on Github?

[2018-03-04 10:54] salmatarzi commented on #50
@tmk1991 Can you make sure that there's a StripFrameworkScript in your Build Phases?

<img width="1401" alt="screen shot 2018-03-04 at 12 48 56" src="https://user-images.githubusercontent.com/10965023/36944749-10ad853a-1fab-11e8-9b8d-b8a50f485cb4.png">

[2018-03-05 16:56] tmk1991 commented on #51
In our config.xml we use:
    `<plugin name="com.instabug.cordova.plugin" spec="https://github.com/Instabug/instabug-cordova" />`

If you update your master branch, we cannot control which version of Instabug we use since it will pull from Master.

You just updated to 1.9.x and we want to point back to 1.8.2 for instance. I've created another issue for the bugs related to the latest update.

[2018-03-06 11:41] victorvicky commented on #37
I too get the same error.can you please provide a fix?

[2018-03-06 11:41] victorvicky commented on #37
I have installed the plugin on an Ionic 3 project using the npm command.
When adding the android platform I got the following error:

Error: Failed to fetch plugin https://github.com/DevHossamHassan/cordova-multidex via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed mod

[2018-03-06 12:08] salmatarzi commented on #51
Yes, you can remove the plugin and add it again using:
_**cordova plugin add https://github.com/Instabug/instabug-cordova#v1.8.2**_

[2018-03-06 12:31] salmatarzi commented on #50
@tmk1991 No, this is not new to the 1.9.x release. Would it be possible to open the project in Xcode and check for that build phase script? I understand that nothing changed that should require you to do that, but we need it to be able to debug this particular issue.

[2018-03-15 21:42] tmk1991 commented on #51
Installing "com.instabug.cordova.plugin" for ios

Failed to install 'com.instabug.cordova.plugin': CordovaError: Failed to fetch plugin https://github.com/DevHossamHassan/cordova-multidex via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.

[2018-03-15 21:59] tmk1991 commented on #50
Its showing  - Doesnt solve the issue since it builds with Ionic Pro Serverside
![image](https://user-images.githubusercontent.com/20258296/37493223-a499b926-287a-11e8-8b83-b8f2f30864ee.png)

[2018-03-16 05:46] tmk1991 commented on #50
When it installs into the cordova config.xml it's listed as:
    <plugin name="com.instabug.cordova.plugin" spec="~1.0.0" />

[2018-03-16 05:47] tmk1991 commented on #50
When you run the install it adds this to the config.xml. Why is it putting in 1.0? Could this be the issue?
`    <plugin name="com.instabug.cordova.plugin" spec="~1.0.0" />
`

[2018-03-20 01:52] tmk1991 commented on #51
It looks like it doesn't install the script:
![image](https://user-images.githubusercontent.com/20258296/37631376-cd297df2-2bbf-11e8-80a8-fda0a3809460.png)

[2018-03-20 17:34] juliansci commented on #43
@vbezruchkin Hi! How did resolve it? I have the same problem. Thanks!

[2018-03-21 07:45] vbezruchkin commented on #43
Hi,

The guys from support made some changes for us, and advised to modify some code. Please get in touch with their support team, which is absolutely perfect.

Good luck.

[2018-03-21 09:31] Korazy commented on #43
@vbezruchkin thank you so much for the compliment, it means a lot to us!

@juliansci please feel free to reach us directly from your dashboard or by emailing us on contactus@instabug.com. We would love to help you :)

[2018-03-23 02:00] tmk1991 commented on #50
Any update? I can't advance my project using instabug
![image](https://user-images.githubusercontent.com/20258296/37807548-6d76ac0e-2e1c-11e8-8b28-1bd6e38214da.png)

[2018-03-23 09:11] Korazy commented on #50
Hey @tmk1991 apologies for the late reply. Can you confirm if you get this error during building or archival?

[2018-03-24 15:24] tmk1991 commented on #50
@Korazy  - Thank you for the reply.

It builds and archives into an ipa file however when it goes through uploading to apple validation it gives the errors I listed.

I can confirm by specifying the 1.8.2 version I do not have any issues. I would like to use the latest version but will be on 1.8.2 until this is resolved.

[2018-03-24 17:13] tmk1991 commented on #50
@Korazy  - Is this new to 1.9.1? Why would the 1.8.2 version work without any issues using the same build process?

[2018-04-04 06:52] sujitgawas19 commented on #49
Here is all the code :
onDeviceReady(){
    this.initInstabug();
  }

initInstabug() {
    cordova.plugins.instabug.activate(
        {
            android: '44f3f69ce99ff14e4307b26558b09f72'
        },
        'button',
        {
            commentRequired: true,
            colorTheme: 'light',
            enableIntroDialog: false
        },
        () => {
            console.log('Instabug ini

[2018-04-10 19:44] nymphetamineinside commented on #50
the same issue with 1.10.1

[2018-04-10 19:52] tmk1991 commented on #50
Stuck on 1.8.2 for now.  @Korazy  any update?

[2018-04-17 12:17] Korazy commented on #50
@tmk1991 apologies for the late response as I was away due to illness. As @nymphetamineinside mentions, it does indeed seem that the resolution is to add the strip script manually as we are unsure why this started occurring only after 1.8.2. We are still investigating the issue.

[2018-04-25 01:32] bterres commented on #50
@tmk1991 are you able to submit an app built with version 1.8.2 to iTunes Connect? I was able to **build** the app using 1.8.2 (thanks to your suggestion) and I can also install that app ad-hoc with a development cert, but submissions to iTunes Connect built with production certs still fail with the "Unsupported Architectures" error.

Just wondering if you've gotten an app with v1.8.2 all the way

[2018-04-25 02:29] tmk1991 commented on #50
@bterres  Only with 1.8.2 am I able to get it in.

I use this in config xml:
`    <plugin name="com.instabug.cordova.plugin" spec="https://github.com/Instabug/instabug-cordova#v1.8.2" />
`
and this in package json -
`    "instabug-cordova": "1.8.2",
`

@Korazy  I hope you're feeling well. I can't inject anything into the build and packaging because its all handled in the cloud with ionic pro.

[2018-04-26 02:37] #51 closed

[2018-04-26 02:39] tmk1991 commented on #50
@Korazy  the issue is going onto 60 days. Any hope of resolution?

Thanks!

[2018-04-26 12:01] Korazy commented on #50
@tmk1991 actually we're currently working on a workaround for you, I will try to get back to you as soon as possible with. Please accept my sincerest apologies for this delay.

[2018-04-26 17:42] tmk1991 commented on #50
Thanks! We'll continue to use 1.8.2 until then.

[2018-05-01 11:34] Korazy commented on #50
@tmk1991 can you please try doing the following:
1 - Make sure embed frameworks is above StripFrameworkScript
2 - Code sign on copy is ticked in embed frameworks
![image](https://user-images.githubusercontent.com/4321051/39471015-2fe7d612-4d41-11e8-86d1-4a2657af1c85.png)

You can also find a link to a sample project done in the same way [here](https://drive.google.com/file/d/1w-nTwIfduW9KdJz9Zngnj

[2018-05-02 09:48] sreeraj137 opened #52 "Android App Crashing Issue"
App crashing after changing  network connection.

java.lang.RuntimeException: Unable to instantiate receiver com.instabug.library.network.InstabugNetworkReceiver: java.lang.ClassNotFoundException: Didn't find class "com.instabug.library.network.InstabugNetworkReceiver" on path: DexPathList[[zip file "/data/app/com.amritatech.amritaswift-1/base.apk"],nativeLibraryDirectories=[/data/app/com.amritate

[2018-05-02 12:06] Korazy commented on #52
Hey @sreeraj137, thanks for pointing that out. We'll look into getting a fix out for it as soon as possible.

[2018-05-02 13:50] Korazy commented on #52
@sreeraj137 can you please let me know if you have MultiDex enabled? If not, can you please enable it?

[2018-05-03 18:56] tmk1991 commented on #50
Thank you. If I go through Xcode and do all of this it works as expected.  In 1.8.2 I never had to open xcode. Its not part of our build process.

[2018-05-04 11:29] sreeraj137 commented on #52
We have enabled MultiDex. Issue still exists.

[2018-05-05 21:00] MaFranceschi commented on #45
Hi! Did you solve this issue @tomasnocetti? there's a very similar issue related in their react native repository. You can follow the thread in here https://github.com/Instabug/instabug-reactnative/issues/148

[2018-05-07 06:44] aswathys26 commented on #52
The same issue was happened with my app also. I have checked our application apk and found a class b.smali where source name is given as InstabugNetworkReceiver.java but class name was given as b. So in android.json file I have changed the classname from InstabugNetworkReceiver to b, and the issue of crashing the app during connectivity change has gone . Is this is a right way to resolve this issu

[2018-05-07 12:45] Korazy commented on #50
Unfortunately, sometimes some manual actions are required. Is everything working well for you now or are there still issues?

[2018-05-07 12:50] Korazy commented on #52
@sreeraj137 we're looking into the issue now.
@aswathys26 thank you for the information, we'll look into it as well!

[2018-05-07 13:08] Korazy commented on #52
@sreeraj137 can you please tell me which Instabug Cordova version you're using?

[2018-05-09 09:28] sreeraj137 commented on #52
We are using instabug of version "1.10.0"

[2018-05-09 09:30] salmatarzi commented on #52
@sreeraj137 @aswathys26 This issue has been fixed in "1.11.1"

[2018-05-09 09:31] #52 closed

[2018-05-10 05:47] imVinayPandya opened #53 "[Android] FileNotFoundException error while submitting bug"
I am using ionic cordova SDK of instabug. while i tried to send bug from mobile app using instabug its not sending bug to instabug web portal. i have tried to debug from android studio and found following error in log.

`W/System.err: java.io.FileNotFoundException: /storage/emulated/0/Android/data/com.ransomlab.quarterly/files/instabug/attachments/bug_1525930433753_.jpg: open failed: ENOENT (No su

[2018-05-11 14:14] anacesponda commented on #37
I'm getting the same error. Is there any solution?

[2018-05-13 17:52] MattiaPrimavera commented on #37
+1

[2018-05-13 18:16] Korazy commented on #37
Hi @MattiaPrimavera, @anacesponda, @victorvicky, @bhawesh96

First off, please accept my apologies for the delay in our response.

Can you please try using `cordova plugin add instabug-cordova -nofetch` and let me know if it works for you?

[2018-05-14 13:49] imVinayPandya commented on #53
okay, I will try and let you know about that.

Thank you for your response.

[2018-05-15 20:18] anacesponda commented on #37
Hi @Korazy. I tried and it didn't work.

[2018-05-15 21:46] christhompson05 commented on #37
@Korazy the `--nofetch` flag was removed from cordova 8.0.0. Is there a different workaround?

[2018-05-18 21:06] Korazy commented on #37
@anacesponda @christhompson05 thanks for getting back to us! We're checking now for the workaround.

[2018-05-28 10:50] Korazy commented on #53
Hey @imVinayPandya

I hope you're well. Was the issue resolved for you?

[2018-05-29 11:21] #50 closed

[2018-05-29 23:02] kalliste opened #54 "IBGScreenshotCapturer crash"
Looks like I recently got a crash while taking a screenshot
[Crash#31.txt](https://github.com/Instabug/instabug-cordova/files/2051636/Crash.31.txt)

[2018-05-31 19:54] jverb commented on #37
@Korazy Any update on a fix or workaround for cordova 8.0.0 we could use? We still can't build our app with Instabug so we removed it and have been building without it for now so we can make releases 😞

[2018-05-31 20:16] Korazy commented on #54
Hey @kalliste

Thanks for reporting this, would you be able to tell me which SDK version you're currently on?

[2018-06-01 09:35] kalliste commented on #54
I would if I knew where to look for that information

[2018-06-03 01:16] kalliste commented on #54
Ok. Got my hands on the build archive and found this in Instabug.h

 File:       Instabug/Instabug.h

 Contains:   API for using Instabug's SDK.

 Copyright:  (c) 2013-2018 by Instabug, Inc., all rights reserved.

 Version:    7.12.7

[2018-06-04 12:15] Korazy commented on #54
Can you please update to the latest version and let me know if it resolves this bug?

[2018-06-07 11:43] #53 closed

[2018-06-09 06:12] kalliste commented on #54
haven't seen it again recently

[2018-06-09 06:12] #54 closed

[2018-06-25 13:40] MattiaPrimavera opened #55 "Android app fails runtime"
Hi guys,

Simply starting the application on Android emulator results in an immediate crash, as shown in the following log:

[code]

I'm using `ionic` with `cordova`, here's the `ionic info` output:

[code]

Within my `package.json` file:

- `instabug-cordova`: `^1.14.1`

[2018-06-27 13:41] ramiimagdi commented on #55
Hey @MattiaPrimavera

Thanks for reaching out to us with this. We'll check it out and get back to you.

[2018-06-28 02:21] ramiimagdi commented on #55
@MattiaPrimavera
Can you please share with us your Instabug code? And if possible, the steps you followed that led to the crash?

[2018-07-06 19:23] ramiimagdi commented on #55
Hey @MattiaPrimavera, hope you're doing well.
I was wondering if you had a chance to catch my previous message. Please let me know if I can help you with anything.

[2018-07-09 11:15] tmdevde opened #56 "Invalid Binary Architecture from iTunes Connect"
Hi,

i'm using ionic 3 with phonegap build. The builds are running fine but when i upload a build to iTunes Connect for Testflight i'm getting this back:

This happens only when i use this plugin with this code in my config.xml file:

`<gap:plugin name="com.instabug.cordova.plugin" spec="https://github.com/Instabug/instabug-cordova" />`

I don't have access to xcode. Thank you for any help.

[2018-07-13 09:54] tmdevde commented on #56
Any News?

[2018-07-14 11:51] ramiimagdi commented on #55
@MattiaPrimavera Thank you for reaching out to us, please don't hesitate to reach out to us if you have any questions.

[2018-07-14 11:51] #55 closed

[2018-07-17 08:29] ramiimagdi commented on #56
Hey @tmdevde,
There is a StripFrameworkScript that gets added automatically using a JS hook after installing the "instabug-cordova" plugin. This error might be due that the script did not get added correctly to the iOS project. However, the only way for us to make sure of that is for you to check if from Xcode if it exists or not. Does it make sense?

[2018-07-17 08:43] tmdevde commented on #56
Hey @ramiimagdi,
thanks for the reply but i don't have access to xcode. that's why i'm using phonegap build. I think Instabug won't be useable for me then right?

[2018-07-17 11:23] ramiimagdi commented on #56
@tmdevde
It's definitely my pleasure, allow me to double check a few things and get back to you in a couple of hours. Thanks

[2018-07-17 11:24] tmdevde commented on #56
@ramiimagdi thank you very much for your efford. i love instabug for testing and would love to use it.

[2018-07-17 11:29] ramiimagdi commented on #56
@tmdevde
You are so welcome, I'll make sure we find a workaround so that you can use Instabug.
Thank you so much, we do appreciate your trust :)

[2018-07-18 14:32] ramiimagdi commented on #56
@tmdevde
Hey, I hope you are doing great. After investigating your problem, it turns out that in order for the  Binary Architecture to be working properly, you'll need to have Xcode access. It's either that or we'd create you a custom build but you won't be able to test your project on a simulator, you'll have to run it on a real device (iPhone).

This is because Phonegap doesn't support build hoo

[2018-07-23 12:34] ramiimagdi commented on #56
@tmdevde
Please feel free to reopen the issue anytime that suits you.

[2018-07-23 12:34] #56 closed

[2018-07-23 12:38] tmdevde commented on #56
@ramiimagdi hey thank you for the answer. Hmm...would the web version be an alternative? (because i'm building with ionic and cordova).

[2018-07-23 12:43] ramiimagdi commented on #56
@tmdevde you're more than welcome!
I'm not actually quite sure whether it'll be helpful or not as our Web SDK is more of an open source now, we’ll continue to support it from our side and we’ll be accepting community contributions as well.

[2018-07-23 12:44] tmdevde commented on #56
ok thank you for you work. even if i can't use it like a want (right know) i still love instabug as it is ;-)

[2018-07-23 12:46] ramiimagdi commented on #56
It's definitely my pleasure, please feel free to reach out to us if you have any other questions.
Instabug loves you back @tmdevde 😃

[2018-08-21 14:10] enestdharam opened #57 "Not able to install the plugin"
cordova plugin add instabug.cordova@latest --save
✖ Running command - failed!
[ERROR] An error occurred while running cordova plugin add instabug.cordova@latest --save (exit code 1):

        Error: Failed to fetch plugin instabug.cordova@latest via registry.
        Probably this is either a connection problem, or plugin spec is incorrect.
        Check your connection and plugin name/version/URL

[2018-08-27 09:52] Korazy commented on #57
Hey @enestdharam

Thanks for reaching out, can you try cordova plugin add instabug-cordova@8.0.3?

We use a - instead of a .

[2018-08-30 08:51] Korazy commented on #57
Was the issue resolved for you?

[2018-09-02 22:44] Korazy commented on #57
Please feel free to reopen this issue should you run into it again :)

[2018-09-02 22:44] #57 closed

[2018-10-13 22:08] bellalMohamed opened #58 "Support for android@7.0.0 and higher"
There are major problems with installing instabug android SDK on projects running android@7.0.0 or higher, which is the path of the AndroidManifest.xml file.
you can reproduce the problem easily by creating a new ionic cordova project installing android@7.0.0 then try to build the app

[2018-10-14 19:41] ramiimagdi commented on #58
Thank you for reach out to us @bellalMohamed.

Please allow me some time to investigate this issue further and get back to you as fast as possible.

[2018-10-16 11:45] ramiimagdi commented on #58
Hello @bellalMohamed and @ahmedkhaled4d, I just wanted to let you know that we do support Cordova 7 on version v8.0.4.

You  will have to remove the plugin and add it again using the following command:
[code]

[2018-10-18 18:45] ramiimagdi commented on #58
Hello again,

Please don't hesitate to reopen this thread or to reach out to us if you have any sort of difficulties.

Have a great day!

[2018-10-18 18:45] #58 closed

[2018-10-21 02:32] bellalMohamed opened #59 "Issue with android@7.0.0 and higher."
The issue #58 is stilll not solved, you can check the build.gradle file you'll see the path of the AndroidManifest.xml is still wrong, I've to manually change it to fix the build problem, please try to install the package to reproduce the issue.

[2018-10-22 08:19] rdiaa commented on #59
Hello, @bellalMohamed I'm so sorry that you are still facing the issue. I will check it form my side and get back to you shortly.

[2018-10-22 10:05] rdiaa commented on #59
Hello, @bellalMohamed  Let me please clarify to you why is this happening, when you install the package, it's installed with the old path, you  need to have Cordiva-Android 7 installed and then after you follow the steps below:
cordova plugin remove instabug-cordova
cordova plugin add instabug-cordova
 you will need to remove instabug and re-install it again. This will update the new path.

Please

[2018-10-22 14:53] rdiaa commented on #59
@bellalMohamed  I will be waiting for your feedback

[2018-10-29 14:55] AleCat83 opened #61 "sharing intent callbacks fired instantly on Android with Instabug initialized"
Hello,
first of all thanks for the plugin. I'm testing an application for both IOS and Android.
On IOS no problem.
On Android I followed your instruction for the initialization and it seems to work but I'm experiencing a strange problem:
my application has social sharing features and for this I use the Social Sharing plugin, when I share, if Instabug is initialized all my sharing callbacks are fir

[2018-10-29 17:13] Peter-Ayad commented on #61
Hi @AleCat83

Thanks for reaching us out, please let me check this further from my side and I will get back to you.

[2018-11-05 12:14] Korazy commented on #61
Hey @AleCat83

We're unable to reproduce this issue unfortunately, would you be able to send us a sample application with the issue?

[2018-11-06 12:38] rdiaa commented on #59
@bellalMohamed I want to check if everything is working smoothly now after you re-installed Instabug

[2018-11-12 18:15] rdiaa commented on #59
@bellalMohamed Please get back to us if you need any help.

[2018-11-12 18:15] #59 closed

[2018-11-14 08:39] Korazy commented on #61
Hey again,

Did you get a chance to create a small sample app for us to troubleshoot the issue further?

[2018-11-19 11:45] Korazy commented on #61
Please feel free to reopen the issue at any time.

[2018-12-10 10:02] HeshamMegid commented on #49
@sujitgawas19 very sorry for super late reply! Unfortunately, we haven't been able to reproduce this.

If you haven't managed to get everything to work fine, please reopen this issue.

[2018-12-10 10:02] #49 closed

[2018-12-10 10:04] HeshamMegid commented on #45
Closing this for now since it's a very old issue. Please reopen/create a new issue if you're still having trouble.

[2018-12-10 10:04] #45 closed

[2018-12-10 10:07] HeshamMegid commented on #41
@monove we've added this to our backlog and will be working on it in a future release.

[2018-12-10 10:07] #41 closed

[2018-12-10 10:35] HeshamMegid commented on #37
This has been fixed in the latest release. Could you please give it a try and reopen the issue if the problem persists?

[2018-12-10 10:35] #37 closed

[2018-12-18 18:30] emanzuetaj opened #62 "Incorrect AndroidManifest path Ionic3"
I'm running an application with the latest versions of cordova-android, ionic-angular, and instabug-cordova. I noticed some closed issues with the path of AndroidManifest.xml in build.gradle but I'm still seeing the wrong path after installing the plugin.

[2019-02-01 01:50] TaeHagen commented on #53
It appears I am experiencing this issue at the moment. Instabug says the bug submitted correctly, but no bug appears on the console. This is the logcat:

`W/System.err: java.io.FileNotFoundException: /storage/emulated/0/Android/data/com.ratetheplate.app/files/instabug/attachments/bug_1548984641191_.jpg (No such file or directory)
W/System.err:     at java.io.FileInputStream.open0(Native Method)
W/

[2019-02-01 21:34] TaeHagen commented on #53
I can confirm the issue is fixed when manually entering APP_TOKEN in `platforms/android/app/src/main/java/com/instabug/cordova/plugin/MyApplication.java`.
It seems plugins/instabug-cordova/src/android/MyApplication.java is not copying to `platforms/android/app/src/main/java/com/instabug/cordova/plugin/MyApplication.java`

[2019-02-03 07:55] salmamali commented on #53
@TaeHagen
The APP token needs to be added directly to the file in the path `platforms/android/app/src/main/java/com/instabug/cordova/plugin/MyApplication.java` since cordova copies the file in the path `plugins/instabug-cordova/src/android/MyApplication.java` only once on installation and therefore changing it after installation will not affect the file in the first path.

[2019-02-15 19:20] MyC-Greg opened #63 "Ionic 3 Android Platform build fails"
Hi,

I can't run the build (--prod --release) process for the Android Platform:

My system:
`"ionic-angular": "3.9.2"`
 `"instabug-cordova": "^8.0.6"`

The output of the terminal:

I installed the plugin with the ionic command

Any idea on how to solve this? Thanks a lot!

[2019-02-18 09:39] salmamali commented on #63
@MyC-Greg
Your gradle version is outdated, you need to use at least gradle 3.4 to be able to use Instabug. In the path `<project>/platforms/android/build.gradle` update as follows:
[code]

[2019-02-18 22:36] MyC-Greg commented on #63
@salmamali
Thanks! That was indeed the plugin which was causing this error. But now that the plugin is updated, the app builds perfectly without the instabug-cordova plugin but gives me an error with it:

From what I found on SO, it could be related to the SdkVersion.
[https://stackoverflow.com/questions/49280632/error9-5-error-resource-androidattr-dialogcornerradius-not-found]
I tried several sol

[2019-02-19 08:50] salmamali commented on #63
@MyC-Greg  Yes it is. You need to update your target sdk version to v28. You can do that by opening the file in the path `<project>/platforms/android/project.properties` and changing the target as follows
[code]

[2019-02-19 12:30] MyC-Greg commented on #63
Great ! That works! Thanks!

[2019-02-19 12:30] #63 closed

[2019-02-27 11:01] shaharpan2912 opened #64 "Instabug failed to recognize header file"
Please review below screen shot.

I have installed instabug 8.0.7 plugin to my ionic app.

It does not recognize header file "IBGBugReporting.h" but it recognize "Instabug.h" from same folder/namespace

Please review below screen shot

![screen shot 2019-02-27 at 4 28 40 pm](https://user-images.githubusercontent.com/31267622/53485750-0b02d900-3aad-11e9-865e-ca43b78a229d.png)

[2019-02-27 11:28] salmamali commented on #64
@shaharpan2912 We can't seem to reproduce this issue. And from your screenshot it looks like the header file `IBGBugReporting.h` exists in the Instabug framework. Could you try cleaning and rebuilding your project?

[2019-02-27 11:33] shaharpan2912 commented on #64
@salmamali I have tried many times.
also try with removing plugin and adding it again.

[2019-02-27 11:38] salmamali commented on #64
@shaharpan2912 What version of Instabug were you upgrading from?

[2019-02-27 11:42] shaharpan2912 commented on #64
@salmamali 8.0.4 and xcode version is 9.2

[2019-03-03 14:27] HeshamMegid commented on #64
@shaharpan2912 would you mind updating to the latest version of Xcode and trying this again?

[2019-03-07 18:01] luckylooke opened #65 "Fresh install of plugin crashes"
I have created new ionic project and build to device, everything was fine, then I have installed instabug cordova plugin and tried again, but build fails:
[code]
Ionic info
[code]

Many thanks :)

[2019-03-07 19:17] salmamali commented on #65
This is happening because Instabug targets sdk 28. You need to update it by opening the file `platforms/android/project.properties` and changing it as follows:

[code]

[2019-03-07 20:10] luckylooke commented on #65
Great, now instabug works! Thanks!!! :)

[2019-03-07 20:10] #65 closed

[2019-03-14 10:48] HeshamMegid commented on #64
@shaharpan2912 closing this issue since we haven't heard back from you. Please feel free to reopen if you still need help.

[2019-03-14 10:48] #64 closed

[2019-03-27 16:11] nymphetamineinside opened #66 "[IOS] Adding Script Build Phase by zStripScript.js"
Hello guys,

It seems i fixed your issue. Before that i had to add script build phase manually.

zStripScript.js works only in that case:

    fs.chmod(projectPath, '0755', function(exc) {
      fs.writeFileSync(projectPath, myProj.writeSync());
    });

[2019-03-31 10:21] HeshamMegid commented on #66
Thanks, @nymphetamineinside. We'll test this to make sure it has no unintended side effects and include it in the next release.

[2019-03-31 16:14] HeshamMegid commented on #66
While testing, we weren't able to reproduce the issue that this is attempting to solve. Do you have any more details that would help us reproduce it?

[2019-04-03 15:51] nymphetamineinside commented on #66
I use ionic 2.2.3 and cordova 8

I build app for ios following way:
ionic state reset
ionic prepare ios

First thing is `ionic state reset` doesn't execute hooks like `after_plugin_install` you're using for adding build phase. But I live with that. It isn't an issue.

Issue can be reproduced by just adding plugin with `cordova plugin add`
The root cause is: you doesn't have enough permissions to c

[2019-04-04 08:11] salmamali commented on #66
@nymphetamineinside Would it be possible for you to update the Instabug plugin to the latest version, 8.2.0, and update cordova to 9 as well and see if the issue still happens?

[2019-04-04 14:33] nymphetamineinside commented on #66
I already have your plugin 8.1.0 (updated a week ago with hope that that issue is fixed, but had to investigate and fix myself). I don't think I can update cordova to 9 now due to lack of time.

[2019-04-30 15:30] caipivara commented on #56
@ramiimagdi this has just happened to me, it works fine when I run it on my device but apple connect tells me first this warning

and When I try to upload it:

[code]

[2019-05-01 15:32] HeshamMegid commented on #56
@caipivara as mentioned above, this is likely because the strip frameworks scripts does not run. Can you check your project to verify it has been added as mentioned here: https://github.com/Instabug/instabug-cordova/issues/56#issuecomment-405502915

[2019-08-23 11:20] igoris commented on #66
It looks like after incorporating this change the project file is written twice:
[code]
I'm not sure why this change is really needed. So far this is the only plugin I saw that silently changes the permissions of the project file allowing anyone to read it.

Also, the script doesn't work in the case when the plugin is already added to the config.xml but the `platforms/` and `plugins/` folders are

[2019-09-03 15:11] Galiza opened #67 "[SUGGESTION] Allow implementation for Android with TypeScript/JavaScript"
Once we download the plugin and install all the dependencies, for us to start using it in both platforms, we have write the code in two different languages (TypeScript/JavaScript and Java), but it should be able to do it only through TypeScript/JavaScript.
For example the iOS implementation for Cordova:
[code]
Like this, it'll be easier for newcomers and people with not a lot of experience in work

[2019-09-03 19:17] Galiza opened #68 "[ANDROID] Screenshot crashes my app"
After SHAKING the screen, click on Report Bug, Take Screenshot, after submitting the screenshot, the entire app crashes, and afterwards keep on crashing, I need to re-install my app for it to work again.

[2019-09-04 08:53] alyezz commented on #68
Thanks for reporting this, can you please send us the full stack trace? Thanks

[2019-09-04 08:56] alyezz commented on #67
@Galiza Thanks for the suggestion! We're currently working on it.

[2019-09-04 13:35] Galiza commented on #68
Hi @alyezz, yesterday I updated our Android version from 6.4.0 to 7.1.4 and the it stopped crashing.

[2019-09-04 13:35] #68 closed

[2019-09-04 15:45] #67 closed

[2019-09-04 15:45] #66 closed

[2019-09-06 13:26] Galiza commented on #67
@alyezz For any luck of mine, would you have an estimate time about when will this update be coming out?

[2019-09-07 17:52] alyezz commented on #67
@Galiza It's included in our latest release v8.6.5

[2019-09-09 21:18] Galiza opened #77 "[ERROR] Can't build after adding plugin"
Following Cordova documentation to install plugin, I can't build the project anymore.

Here's the screenshot of the error:
![instabug](https://user-images.githubusercontent.com/9288512/64567256-330da780-d32e-11e9-843d-533c1ffa129d.png)

[2019-09-09 21:18] Galiza opened #81 "[ERROR] Can't build after adding plugin"
Following Cordova documentation to install the latest version of the plugin, I can't build the project anymore.

Here's the screenshot of the error:
![instabug](https://user-images.githubusercontent.com/9288512/64567369-79630680-d32e-11e9-82af-4feb50eab809.png)

[2019-09-10 08:47] alyezz commented on #77
@Galiza can you please share with us the the steps you followed to reproduce this error?

[2019-09-10 13:28] Galiza commented on #77
@alyezz Of course!

1. Removed node_modules/ platform/ plugin/ from our project (to remove incompatibility with another branch)
2. Run `npm install`
3. Run `ionic cordova build android` , which makes the Cordova add the Android (using 7.1.4) platform.
4. When generating the .apk, build fails with error from the screenshot above.

[2019-09-11 06:26] tarun57 commented on #77
Same here after adding this plugin build failed on run android or build android in ionic 3.

[2019-09-11 08:03] alyezz commented on #77
@tarun57 @Galiza can you please check step 2 [here](https://github.com/Instabug/instabug-cordova/blob/master/README.md#usage)

[2019-09-11 10:05] tarun57 commented on #77
@alyezz from this am able to generate build.
But this is not working when i'm shaking device it was not show any options.

[2019-09-11 10:10] alyezz commented on #77
@tarun57 Can you please open a separate issue with the details?

[2019-09-11 10:17] tarun57 opened #78 "Not showing any options on shaking device."
Hi i'm using ionic 3 i was added this plugin in my ionic project after run this on android when i'm shaking device it was not showing any options like
"Talk to me"
"Report a problem"
Means to say i'm not able to report for any problem.

[2019-09-11 10:18] alyezz commented on #78
@tarun57 can you please share with us your integration code?

[2019-09-11 10:21] tarun57 commented on #78
I was add plugin by cordova command
"ionic cordova plugin add instabug-cordova"
Then add access token(replace "myapplication" with access token) in myapplication.java file in pluign.

[2019-09-11 10:23] alyezz commented on #78
@tarun57 Please follow the steps here https://github.com/Instabug/instabug-cordova#installation

The MyApplication class integration code is no longer required.

[2019-09-11 10:28] tarun57 commented on #78
@alyezz  can you please describe me first step which js file i have only ts files.

[2019-09-11 16:01] Galiza commented on #77
Hey @alyezz, I just checked, it's there, but still, the same issue happens, here's the following build.gradle:

`allprojects {
    repositories {
        maven {
            url "https://maven.google.com"
        }
        jcenter()
        google() // Google's Maven repository from cordova-plugin-firebase
    	maven {
      	    url "https://sdks.instabug.com/nexus/repository/instabug-cp"

[2019-09-17 16:20] Galiza commented on #77
Hey @alyezz! Any news regarding this issue?

[2019-09-23 06:38] #78 closed

[2019-10-09 01:12] AliAbdelfattah commented on #77
Hi @Gazila, could you please share the version of instabug-cordova plugin that's currently installed?

[2019-10-09 22:02] AliAbdelfattah commented on #77
@Galiza, we've identified the error in our native Android SDK and we're currently working on a solution. We're very sorry you've run into this error, we'll update you when it's fixed.

[2019-10-10 08:48] Galiza commented on #77
@AliAbdelfattah Thank you so very much for this! Please do let me know whenever you fix it!

[2019-11-21 13:47] SonoIo opened #82 "Incorrect use of the "let" keyword causes an error with the old devices"
The following code throws an error on old devices that does not support let, const, etc...

https://github.com/Instabug/instabug-cordova/blob/ea8bddcea59a85e973dade0cbcca87e2088c8de0/www/bugReporting.js#L108-L110

Could you declare the variable `i` using "var" instead of "let"?

[2019-12-06 13:48] Edmu commented on #81
also android fails to be built:

BUILD FAILED in 31s
.../platforms/android/gradlew: Command failed with exit code 1 Error output:
Note: .../platforms/android/app/src/main/java/com/instabug/cordova/plugin/IBGPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
D8: Cannot fit requested classes in a single dex file (# methods: 78327 > 65536)
FAILURE: Bu

[2019-12-06 13:52] Edmu opened #83 "Outdated documentation"
Documentation:

[code]

Source:

[code]

options are missing.

[2019-12-06 15:04] Edmu opened #84 "Polutes cordova.plugins object"
Instead of namespacing plugin into single object multiple objects gets injected into

This also can lead into clashing into other plugin object

[code]

[2019-12-08 00:07] AliAbdelfattah commented on #83
Thanks for pointing this out. We're looking into it.

[2019-12-08 00:14] AliAbdelfattah commented on #81
Hi @Edmu, this seems like a different issue. Please open a new issue (and fill out the template) to be able to help you.

[2019-12-09 07:57] Edmu opened #85 "android build fails after adding plugin"
also fails to be build on android:

BUILD FAILED in 31s
.../platforms/android/gradlew: Command failed with exit code 1 Error output:
Note: .../platforms/android/app/src/main/java/com/instabug/cordova/plugin/IBGPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
D8: Cannot fit requested classes in a single dex file (# methods: 78327 > 65536)
FAILURE:

[2019-12-09 07:57] Edmu commented on #81
@AliAbdelfattah

#85

What template? Can't find any.

[2019-12-09 08:08] AliAbdelfattah commented on #85
Hi @Edmu this is an android issue. Please enable multidex to fix it.

[2019-12-09 08:11] AliAbdelfattah commented on #81
Hi @Galiza this should be fixed on our next Cordova release this week.

[2019-12-09 08:14] AliAbdelfattah commented on #82
Hi @SonoIo, sorry for the late reply. We're looking into that.

[2019-12-09 08:57] Edmu commented on #83
Also unclosed curly braces for options argument

<img width="600" alt="instabug" src="https://user-images.githubusercontent.com/9782171/70421502-8947cf00-1a72-11ea-962e-e143667b9544.png">

[2019-12-09 10:01] Edmu commented on #85
@AliAbdelfattah thanks

installing `cordova-plugin-enable-multidex` helped - this could be included into documentation.

[2019-12-09 10:01] #85 closed

[2019-12-09 10:29] Edmu opened #86 "setLocale method does not work (android)"
Platform android:

[code]

Output:

`err Invalid action`

[2019-12-09 10:43] AliAbdelfattah commented on #86
Thanks for reporting this, @Edmu. Which platform are you testing on?

[2019-12-09 10:48] Edmu commented on #86
android (stated in the issue title)

[2019-12-09 10:50] AliAbdelfattah commented on #86
Oh, sorry for missing that. We'll look into it.

[2019-12-09 12:19] philippmayrth opened #87 "Customize text in UI"
I could not find a way to access the text customization functionality from the Cordova plugin neither from the documentation (- https://docs.instabug.com/docs/cordova-locale) nor from digging around in the source code.

This is a functionality which exists in the iOS and Android documentation:
- https://docs.instabug.com/docs/ios-locale#section-overriding-string-values
- https://docs.instabug.com/

[2019-12-09 13:10] AliAbdelfattah commented on #87
@philippmayrth Yes, it should be supported soon. I'll keep this issue open for any updates regarding this API.

[2019-12-10 11:23] philippmayrth opened #88 "Breaking change in minor version"
We were using this plugin with `^8.2.1` which should have updated only to minor versions which by convention can't include breaking changes but it still broke on Android (still working on iOS).
Only by changing to `8.2.1` without the caret we got rid of that bug.

[2019-12-10 15:59] AliAbdelfattah commented on #88
Hi @philippmayrth, we're sorry to hear that. We try our best to follow these conventions and we definitely do not intend to break it. Would you mind sharing with us the bug or the cause of breaking so I could investigate it further and to avoid the likes of it in the future? We'd really appreciate it!

[2019-12-10 16:08] philippmayrth commented on #88
Unfortunately not, I could get a debugger to attach to the Android App. This has something to do with how we setup the development environment.
I had to checkout older git commits of known working states and as those did not work either I knew it had to do with an update of this plugin.
Sorry I would rely like to provide more useful info here.

What I do know is that the issue was present on 5. De

[2019-12-10 16:08] AliAbdelfattah commented on #84
@Edmu thank you for the suggestion! It makes sense, and we've included it in our future plan.

[2019-12-12 00:43] AliAbdelfattah commented on #88
No worries, thanks for the info anyway. We'll try to investigate further from our side and we'll do our best to avoid this from happening again.

[2019-12-12 00:43] #88 closed

[2020-01-30 20:42] mweyamutsvene opened #90 "Calling UI Only functions on background thread causes crash"
Usually when you just launch the app the system seems to ignore these calls, but if you are running UI tests in xcode, ui calls, that are meant to be run on the main thread, often crash the app making testing on an actual device and newer versions of iOS SDK impossible.

[code]
You need to wrap these calls is a dispatch to the main thread.

[2020-03-05 13:35] #83 closed

[2020-05-07 12:13] philippmayrth commented on #87
@AliAbdelfattah is there any progress on this one?

[2020-05-27 21:27] zmart-sen opened #94 "Version disparity inquiry"
If we look at the version listed in https://github.com/Instabug/instabug-cordova/blob/master/plugin.xml we see that it is well-behind the current 9.1.0 version. This is potentially an issue because `cordova plugin ls` (as of cordova -v: 9.00 at least) uses the version from plugin.xml and can lead to confusion.

Any chance for an explanation as to why this wouldn't be updated?

[2020-06-06 14:58] AliAbdelfattah commented on #94
@zmart-sen thank you for reporting this. The fix has been implemented and will be shipped with the upcoming release.

[2020-06-06 15:23] AliAbdelfattah commented on #82
Fix has been implemented and will be shipped with the next release.

[2020-06-06 17:07] AliAbdelfattah commented on #81
Closing this as the fix has been released a while ago.

[2020-06-06 17:07] #81 closed

[2020-06-09 16:25] AliAbdelfattah commented on #90
@mweyamutsvene thanks for reporting this, it should be fixed in the upcoming release.

[2020-06-26 11:22] 08Thug opened #98 "Can't generate build in Ionic application"
I followed the step as on the document which is- [https://docs.instabug.com/docs/cordova-integration](url) and [https://github.com/Instabug/instabug-cordova](url)

Made sure that my name of the **application class name** is -`android:name="com.instabug.cordova.plugin.MyApplication"
`
Then as my cordova version is 8.1.0 so i changed the path in **cordovalib** as
[code]

**Added the app token:**
[co

[2020-07-02 14:53] 08Thug commented on #98
Had to update SDK version! now working fine Kindly update the document

[2020-07-02 14:53] #98 closed

[2020-07-05 13:35] 08Thug opened #99 "Screen recorder is not working in Ionic IOS!"
After initializing Instabug i am currently using version-8.6.5 screen recorder is working fine in android but while in IOS after choosing the option take a screenrecoder the instabug closes automatically and can't even call instabug again by shaking the device.It can be called only after by reopening my application.

[2020-07-05 13:41] 08Thug opened #100 "app crashes after uploading image from gallery!"
After implementing instabug in ionic i did several testing it was working fine untill i tried to upload a image from gallery.
It also worked fine but after uploading image greater than 3 -10 mb, I tried to view it by pressing the image which i uploaded and  then the  application crashed,even thought app crashed in most of the devices but worked good in few devices!

[2020-07-07 08:38] alyezz commented on #100
@08Thug Thanks for reporting this! can you please share with us the full stack trace of the crash?

[2020-07-07 09:05] alyezz commented on #99
@08Thug you need to add the following code to your app's `info.plist` to allow permission, more info here : https://docs.instabug.com/docs/ios-integration#managing-permissions

[code]

[2020-07-07 10:22] 08Thug commented on #100
i've told you the scenario to reproduce this issue,could you try that way even this issue exist in latest version..
I dont have any crash report! the device which i used for testing belongs to android version 5,6 & 9 . could please fastract this issue.

[2020-07-07 10:23] 08Thug commented on #99
@alyezz let me try and get back to you! thank you

[2020-07-08 17:48] muhammad-omar opened #101 "Incorrect installation of plugin for Ionic 3"
While trying different options to install the plugin to Ionic 3 project, i keep getting to the same version "8.0.4" of the plugin and that causes some build issues.

tried options:
"ionic cordova plugin add instabug-cordova@latest --save"
"ionic cordova plugin add instabug-cordova --save"
"ionic cordova plugin add instabug-cordova@9.1.0 --save"
"cordova plugin add instabug-cordova@latest --save"
"

[2020-07-09 15:04] alyezz commented on #101
@muhammad-omar we are aware of this issue, we did not update the version inside `plugin.xml` that's why you see the same version number, however, its updated inside the `package.json` file.

Sorry for the inconvenience, we will make sure to update the `plugin.xml` in future releases.

[2020-07-09 15:04] #101 closed

[2020-07-10 08:28] 08Thug opened #102 "can't disable Welcomemessage in ionic"
I tried to disable Welcomemessage mode by editing the plugin, because it show the welcome message in the splash screen i want it to be displayed in home page  so i edited to disable the welcome page by editing the plugin
[code]
even tried  the below code in Myapplication.java yet not promising results
  `      Instabug.setWelcomeMessageMode("welcomeMessageModeDisabled");`

but it has no reflection

[2020-07-10 08:29] 08Thug commented on #100
@alyezz  you there any progress in this issue!?

[2020-07-13 12:59] tamsel12 opened #103 "bugReporting invocationEvents not working"
invocation event  often opens the "Need Help" popup. I added it for the shake event only, but it shows oftentimes with latest plugin only. If document has updated, please let us know here. Thanks in advance

[2020-07-14 06:07] 08Thug commented on #100
@alyezz  we are paying for your service yet we cant even get a proper responce highly disappointed!

[2020-07-14 10:46] #99 closed

[2020-07-14 10:53] alyezz commented on #102
@08Thug you can add `Instabug.setWelcomeMessageState(WelcomeMessage.State.DISABLED);` inside your Myapplication.java

[2020-07-14 11:30] alyezz commented on #103
@tamsel12 i'm not sure i understand what you mean exactly, can you please elaborate?

[2020-07-14 11:32] alyezz commented on #100
@08Thug I apologize for the delay, i'm looking into this now

[2020-07-14 12:28] 08Thug commented on #102
tried that before but it shows error like this

[2020-07-14 15:07] alyezz commented on #100
@08Thug We were able to reproduce and pinpoint the issue, we are currently working on a fix. I will update you on this thread once the issue is resolved.

Thanks for your patience

[2020-07-14 15:29] tamsel12 commented on #103
After opening the app itself i am getting the popup [Which will show only after the shake event]  oftentimes. My app targets Api level 29 and it is latest cordova plugin only

[2020-07-15 09:42] alyezz commented on #102
@08Thug make sure to include this import `import com.instabug.library.ui.onboarding.WelcomeMessage;`

[2020-07-15 09:48] alyezz commented on #103
@tamsel12 which popup are you referring to? can you attach a screenshot?

[2020-07-15 12:18] tamsel12 commented on #103
Okay, This popup is showing often times https://user-images.githubusercontent.com/45559546/87543926-33e83600-c6c3-11ea-9de0-199f4d9e4ad6.jpg @alyezz

[2020-07-15 12:22] alyezz commented on #103
@tamsel12 you can try changing the shaking threshold https://docs.instabug.com/docs/cordova-invocation#shaking-threshold

[2020-07-15 12:27] tamsel12 commented on #103
I have integrated the same code which is mentioned in document @alyezz . It has worked 100% in version 8.6.5, after upgrading 9.1.0 only i am getting this issue. My App is built using ionic 3 and now migrating to Android Api level 29.

[2020-07-20 09:04] alyezz commented on #103
@tamsel12 i see, however the case where the device shows the prompt is usually because it detected a shake, so changing the shaking threshold using the above link from our docs might solve your issue. Can you please try that and let me know?

[2020-07-20 10:34] #86 closed

[2020-07-20 10:58] alyezz commented on #86
@Edmu this issue has been fixed and is included in out latest release 9.1.6

[2020-07-20 10:58] alyezz commented on #94
@zmart-sen  this issue has been fixed and is included in out latest release 9.1.6

[2020-07-20 10:58] #94 closed

[2020-07-20 10:58] alyezz commented on #90
@mweyamutsvene this issue has been fixed and is included in out latest release 9.1.6

[2020-07-20 10:58] #90 closed

[2020-07-20 10:59] alyezz commented on #82
@SonoIo this issue has been fixed and is included in out latest release 9.1.6

[2020-07-20 10:59] #82 closed

[2020-07-21 09:21] alyezz commented on #100
@08Thug  The issue has been fixed and will be included in our next release. In the meantime here is a custom build with the fix that you can use `cordova plugin add https://github.com/Instabug/instabug-cordova.git#custom_build/9.1.6.2`

Feel free to re-open this if you are still facing this issue

[2020-07-21 09:21] #100 closed

[2020-07-22 15:56] tamsel12 commented on #103
I have removed instabug activate method for android and updated the token in  MainApplication file. Now Its working fine, Before i have used 8.6.5 version which did not have myApplicaiton Class inside in android src , so  i added instabug activate method. But now removing that code works fine in the latest release of the cordova plugin versioin. Thanks :)

[2020-07-22 15:56] #103 closed

[2020-07-23 06:44] 08Thug commented on #102
@alyezz  but for ios is disabled welcome msg using
`  cordova.plugins.instabug.activate(
          {
              ios: this.envService.INSTABUG_TOKEN
          },
          cordova.plugins.bugReporting.invocationEvents.shake,
            {
                "welcomeMessageMode": "welcomeMessageModeDisabled"
            },
          function () {
              console.log('Instabug initialized.');

[2020-12-16 23:10] avargaskun opened #113 "error: Building for iOS, but the embedded framework 'Instabug.framework' was built for iOS + iOS Simulator"
I am getting the following error when attempting to build using the latest version of the instabug-cordova plugin:

`error: Building for iOS, but the embedded framework 'Instabug.framework' was built for iOS + iOS Simulator`

My version of `xcode` is `12.3`
My version of `cordova` is `10.0.0`
My version of `ios` cordova platform is `6.1.1`
My version of `instabug-cordova` is `^9.1.6`

I get the sa

[2020-12-17 18:48] AliAbdelfattah commented on #113
Hi @avargaskun, this is probably happening because the stripping script for simulator binaries wasn't executed for some reason. Check the Build Phases in XCode, there should be a build phase with the name `StripFrameworkScript`, if it's not there, you can either [add it manually](https://github.com/Instabug/instabug-cordova/blob/4d6efa8aa21a134f2d42bfa1eda1b6c77b077580/scripts/zStripScript.js#L61)

[2021-01-12 02:57] MarioC3 commented on #113
Hi @avargaskun I also have the same problem and I do have the stripping script in Xcode Build Phases. Also the same Stack. Any other ideas you think it could be affecting this?

[2021-01-14 21:50] avargaskun opened #114 "Missing plugin function in Android"
When 'cordova.plugins.bugReporting.setEnabledAttachmentTypes' in Android the success and error callbacks are never invoked by the plugin. The call also has no effect on the attachment types used by the plugin.

This is due to the fact that `setEnabledAttachmentTypes` is not implemented in `IBGPlugin`

Plugin version: `9.1.6`

[2021-01-14 21:53] avargaskun opened #115 "Attachment validation fails in iOS"
Adding an attachment to a bug report fails in iOS when passing a URL of the type `file://...`

This is due to the fact that the plugin uses `NSFileManager::fileExistsAtPath` to validate the file path, which does not support paths in URL form. As a result, calls to `cordova.plugins.instabug.addFile` always fail.

[2021-01-18 08:26] EvelinJK commented on #113
Same problem here @AliAbdelfattah.
All our devs have this issue now after we upgraded from  XCode 12.1 to 12.3.
Any new info as how to fix it?

[2021-01-20 20:44] bsameh-at-instabug commented on #113
@MarioC3 @EvelinJK my sincere apologies for not getting back to you earlier and thank you for your patience.

To give you some context, with the release of Xcode 12.3, Apple is now enforcing the use of XCFramework, so we've updated our Cordova SDK to depend on v10.1.1 of our iOS SDK instead, which adds support to that format. We've pushed a custom version of the SDK so you can give it a try, which

[2021-01-22 06:38] MarioC3 commented on #113
Hi @bsameh-at-instabug
Thanks for responding. With the new SDK I can build from the Command Line, but whenever I try to archive from XCode, I'm getting this error:

[code]

[2021-01-22 20:09] bsameh-at-instabug commented on #113
For anyone running into the same issue, specifically those building the app through Xcode itself, please make sure to open the `.xcworkspace` file and not the `.xcodeproj` one. This is because the native SDK is imported using Cocoapods now, which generates a workspace file with the dependencies (pods) included in a separate project within that workspace, hence why it couldn't find the header file.

[2021-01-25 11:53] EvelinJK commented on #113
Thanks for the info @bsameh-at-instabug
The hotfix removes the original error for us. But it lead to issues with other plugins that need pods. And even after we fixed that, we get errors after deploy to a device that break our application due to instabug:
`.... .app/Frameworks/Instabug.framework/Instabug: mach-o, but not built for platform iOS ...`
`...app/Frameworks/Instabug.framework/Instabug: s

[2021-01-25 12:16] bsameh-at-instabug commented on #113
@EvelinJK sorry to hear that, we will look into this right away. Do you mind sharing the iOS version of the device you're using?

[2021-01-25 13:29] EvelinJK commented on #113
@bsameh-at-instabug
Thanks for the quick reply.

iOS version on device is `14.3`
XCode `12.3`
cordova `10.0.0`
cordova-ios: `^5.1.1` (stuck with this atm)

To give more information after we tried various combinations now:

We checked again and the core issue is that the instabug framework seems not to get embedded correctly with the hotfix. It's missing from the Frameworks list in XCode General ta

[2021-01-25 16:50] bsameh-at-instabug commented on #113
@EvelinJK thank you for the detailed breakdown, this is very helpful! We're looking into this and will get back to you as soon as possible.

[2021-01-26 11:37] bsameh-at-instabug commented on #113
@EvelinJK just to confirm, did you remove the existing plugin via `cordova plugin remove instabug-cordova` before installing the new custom build via the command I shared [here](https://github.com/Instabug/instabug-cordova/issues/113#issuecomment-763920454)?

[2021-01-26 11:41] EvelinJK commented on #113
@bsameh-at-instabug yes, we removed the old one beforehand and did a clean install.

[2021-02-01 13:17] AliAbdelfattah commented on #113
Hi @EvelinJK, unfortunately, we haven't been able to reproduce the issue at our end. Do you mind jumping on a call to debug it? Please head to [Instabug](https://dashboard.instabug.com) and press on the chat button at the right bottom corner, our team will take it from there to set up the call.

[2021-02-04 15:23] EvelinJK commented on #113
@AliAbdelfattah Thank's for all your effort :)
We will investigate again if we can get it to work somehow and report here if we find a solution.
If we're still unable to fix it, we'll get in touch with you as you recommended.

[2021-02-08 08:38] EvelinJK commented on #113
@AliAbdelfattah
Good news from our side: We took a look at it again and are now able to release with the custom SDK version provided by you in this thread. We didn't find any specifics, but did the following:

Update system to `Big Sur 11.1`
Update to latest `XCode 12.4`
remove and re-install all node modules
remove and re-install Cocoa Pods with latest version `1.10.1`
update other plugins that u

[2021-04-14 09:55] PavanTank4631 opened #118 "Library projects cannot set applicationId. applicationId is set to 'capacitor.android.plugins' in default config."
hello Team,
I'm using ionic and creating App using @ionic/react. And yes I'm using capacitor instead of cordova for configurations as well as I've installed instabug-cordova with capacitor instead of cordova as @ionic/react doesn’t support cordova I guess. related dependencies are following.
    "@ionic/cli": "^6.12.1",
    "@capacitor/core": "^2.4.2"
    "@capacitor/ios": "^2.4.2"
    "@ionic/rea

[2022-01-21 09:13] Nakira opened #126 "Capacitorjs support?"
Hello

using capacitorjs (https://capacitorjs.com/)

My main quesiton is how to activate instabug as I don't have a "cordova" object available.

[2022-01-21 14:39] AliAbdelfattah commented on #126
Hi @Nakira, we currently don't support capacitorjs.

[2022-01-21 14:39] #126 closed

[2022-03-08 08:05] aginvlad commented on #118
I solved this!

Remove `applicationId` in this file node_modules/instabug-cordova/build.gradle
And then in MyApplication.java (android/capacitor-cordova-android-plugins/src/main/java/com/instabug/cordova/plugin/MyApplication.java) change 2 imports to this:
import androidx.multidex.MultiDex;
import androidx.multidex.MultiDexApplication;

[2022-04-25 07:16] Bart1909 opened #136 "Header overlays app buttons"
When sending an improvement or reporting a bug, the header (with its buttons to send or cancel the improvement/bug) is overlaying the header of the app:
![image](https://user-images.githubusercontent.com/14097923/165038916-c2230e1f-47ae-47a2-8569-8a947a8acb81.png)

![image](https://user-images.githubusercontent.com/14097923/165038999-ec872812-cf00-4673-92ee-a7c2d297eef1.png)

[2022-06-13 14:05] xueligoh opened #138 "Unable to generate mobile build for android"
I am getting the following error using the latest version of the instabug-cordova plugin

`Could not find method maven() for arguments [build_b5pn4b84hai8sm6rp5fyq4tez$_run_closure1$_closure3@9ab57f7] on root project 'Instabug Sandbox' of type org.gradle.api.Project.`

As we are using a tool with the cordova application compile and build process, we are not able to edit the gradle file directly.
I

[2022-06-13 16:24] AliAbdelfattah commented on #138
Thank you @xueligoh for reporting this. Could you please provide us with cordova and cordova-android versions that you have installed?

FYI, we're currently working on a new release that should resolve issues related to the Gradle file manipulations.

[2022-06-14 02:37] xueligoh commented on #138
hihi, thank you @AliAbdelfattah for the quick response.

I am using

Cordova CLI 10.0.0
Cordova Engine  10.1.1

Android Target SDK:
- 12 (API 31)
- Build Tools 31.0.0
- Gradle 7.1.1
- Kotlin 1.5.21 (Default)

To understand if we can utilise new release based on our project timeline - is there an estimation date (or month) on when the release would be available?

[2022-06-14 15:03] AliAbdelfattah commented on #138
Hi @xueligoh, the release is estimated to be in 2-4 weeks, we can provide you with an early snapshot before then just to make sure it works well at your end.

[2022-06-27 13:43] xueligoh commented on #138
Thank you so much! We were able to generate successfully.

[2022-07-07 15:51] AliAbdelfattah commented on #84
@Edmu this is now addressed in our latest release.

[2022-07-07 15:51] #84 closed

[2022-07-07 16:02] AliAbdelfattah commented on #87
@philippmayrth sorry for the late reply, this is now added in our latest release.

[2022-07-07 16:02] #87 closed

[2022-07-07 16:11] AliAbdelfattah commented on #136
Hey @Bart1909, sorry for the late reply, we weren't able to reproduce this behavior on our end. However, we've recently released a new version, could you give it a try on that?

[2022-07-07 16:13] #115 closed

[2022-07-07 16:14] AliAbdelfattah commented on #113
[Fix](https://github.com/Instabug/Instabug-Cordova/issues/113#issuecomment-763920454) merged and released.

[2022-07-07 16:22] AliAbdelfattah commented on #102
@08Thug sorry for the late reply, we weren't able to reproduce this behavior on iOS. It's worth noting that the welcome message appears within 10 seconds of starting the first session after the SDK is integrated. Please feel free to reopen the issue if you're still having issues.

[2022-07-08 11:56] xueligoh opened #157 "Set Primary Color"
There is a typo for setting primary color

Instabug.setPrimaryColor = function (`color`, success, error) {
    exec(success, error, 'IBGPlugin', 'setPrimaryColor', [`colorInteger`]);
};

[2022-07-09 09:43] DavidMina96 commented on #157
Thank you for reporting this, @xueligoh! It'll be fixed in our next release, and here's a snapshot with the fix as well:
`cordova plugin add https://github.com/Instabug/Instabug-Cordova\#snapshot/11.0.0-MOB-9117`

[2022-07-13 06:26] #157 closed

[2022-07-19 14:23] xueligoh opened #159 "Instabug interferes with Camera plugin"
hi instabug team,

we find that when we include instabug into our application, our camera plugin stops working (camera cannot be launch). is there something in instabug implementation that interferes with the camera plugin?

[2022-07-26 11:58] AliAbdelfattah commented on #136
Closing the issue since we haven't heard back from you. Please feel free to reopen the issue if you have more information to add.

[2022-07-26 11:58] #136 closed

[2022-07-27 13:25] DavidMina96 commented on #159
Hi @xueligoh,

Thank you for reporting this. Could you please provide us with more information regarding the installed versions of `cordova`, `cordova-android`, `cordova-ios` and `cordova-plugin-camera` and whether you are facing the issue on a specific platform or device?

While it's not required, including a sample project that reproduces the issue will be of help.

[2022-07-27 14:23] xueligoh commented on #159
Hello!

We see this issue on Android - the camera works when we exclude instabug from the build, but when we include instabug, the camera will not launch. select from gallery works well.

I am using camera plugin 5.0.3 with the instabug v11.0.0

<img width="407" alt="Screenshot 2022-07-27 at 10 21 27 PM" src="https://user-images.githubusercontent.com/24445307/181271366-19a77fcf-a29b-4c74-94f9-fd89

[2022-07-28 08:27] DavidMina96 commented on #159
Thank you for providing these details, @xueligoh! We were able to reproduce the issue of camera not launching on `cordova-plugin-camera` v5.0.3, but it works well on the latest version 6.0.0. Would you please give it a try on the latest version, along with Instabug, and let us know if it resolves the issue?

[2022-07-29 13:28] xueligoh commented on #159
Hi @DavidMina96 it did not work for us sadly.

[2022-07-31 09:46] DavidMina96 commented on #159
@xueligoh Since the issue is not reproducible on our side on the latest version, we will be waiting for a sample project that reproduces the issue whenever possible so that we can further look into it.

[2022-08-05 02:21] xueligoh commented on #159
Hi @DavidMina96

Please find the attached project & the build that we tried in this URL (unable to upload more than 25 MB here)
https://drive.google.com/drive/folders/19BWJMy7oGTJr2ATHzwG86ZT0fQSMltR_?usp=sharing

[2022-08-06 03:41] xueligoh commented on #159
Hi @DavidMina96

Apologies for asking so soon. Have you had the chance to take a look at the uploads?

[2022-08-06 08:12] DavidMina96 commented on #159
Hi @xueligoh,

Thanks for sharing a sample project and the build file. Yes, I've installed the APK and found that upon app launch, the camera launches successfully (after granting permission for the first time), and Instabug prompt options menu appears as well. I was able to get the 'Success' alert, followed by the 'Success camera' alert upon capturing an image and selecting OK.

Therefore, the is

[2022-08-08 16:24] xueligoh commented on #159
Hi @DavidMina96
Thanks for following up, we look around further and found that we were actually facing the same issue as https://github.com/Instabug/Instabug-Android/issues/386

After we did the modification to the android manifest, the camera is able to launch.

[2022-08-09 12:33] DavidMina96 commented on #159
Glad you've figured it out, @xueligoh! The key difference here was in the Android version as we were testing on a device running a lower API level on our side than the one this issue first appeared on. I'm delighted that it's now working as expected for you. 🚀

[2022-08-09 12:33] #159 closed

[2022-08-19 11:36] aginvlad opened #160 "Wrong import in IBGPlugin.h when building iOS app with Capacitor"
Hi team,
After upgrading instabug-cordova to 11.0.0, we couldn't build iOS app in Xcode using Capacitor (we currently use Capacitor 4). The error is the following:

![image](https://user-images.githubusercontent.com/38836906/185608365-11d87269-cbec-4e18-984a-0e795cc1c94f.png)

The files within the folder are the following:

![image](https://user-images.githubusercontent.com/38836906/185608570-16ab

[2022-08-19 12:10] TheBuggedYRN commented on #160
Thanks @aginvlad for reporting this!
We are looking into it and we will get back to you.

[2022-08-23 16:12] #160 closed

[2022-08-24 14:01] TheBuggedYRN commented on #160
@aginvlad This fix is now released in v11.0.1 🎉

[2022-08-24 14:09] DavidMina96 commented on #157
@xueligoh The fix is now included in v11.0.1 🚀

[2022-10-20 14:34] ludonoel1 opened #172 "Missing the following permissions in AndroidManifest.xml - WRITE_EXTERNAL_STORAGE"
Hello,
I have a project with ionic capacitor, so I have decided to install instabug via cordova getting started step.
ionic: 6
capacitor: 4

However, I just needed to install instabug-cordova to break my app.
I am using capacitor camera which worked before instabug install

androidManifest:
`<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.p

[2022-10-20 16:37] DavidMina96 commented on #172
Hi @ludonoel1,

Thank you for reporting this issue, and apologies for any inconvenience this may be causing.

It seems you are facing a similar issue to the one reported [here](https://github.com/Instabug/Instabug-Android/issues/386), so I suggest you try modifying your `AndroidManifest.xml` file accordingly.

Looking forward to hearing your feedback if that resolved the issue for you.

[2022-10-20 17:01] ludonoel1 commented on #172
Hey @DavidMina96  I'm sorry but I get the same error as the last message in your post.

Upon adding that line. Remove Android max version. I'm not able to generate release build. Getting this error. "The prefix tools for attribute tools:remove associated with an element type uses-permission is not bound". Can someone help. Anyone faced this issue. ?

[2022-10-21 10:19] DavidMina96 commented on #172
@ludonoel1 Please add the tools namespace to your manifest header so it looks like this:
[code]